$primaryAColor: #0B61A4;
$primaryBColor: #66A3D2;
$primaryCColor: #3F92D2;
$secondaryAColor: #FFAA00;
$secondaryBColor: #FFD073;
$secondaryCColor: #FFBF40;
$tertiaryAColor: #FF7400;
$tertiaryBColor: #FFB273;
$tertiaryCColor: #FF9640;
$backgroundAColor: #FFFFFF;
$backgroundBColor: #E0E0E0;

$fontHeaderColor: #FFFFFF;
$fontSize: 1.1vh;
$fontSizeHeader: 1.6vh;

html {
  font-size: $fontSize;
}

body {
  background-color: $backgroundBColor;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// ---------------------------- Header ----------------------------

header {
  background-color: $primaryBColor;
  color: $fontHeaderColor;
  font-size: $fontSizeHeader;
  padding: 1rem;
  margin: 0;
  text-align: center;
}

.headerContainer {
  width: 100%;
  margin: auto;
}

.headerTile {
  background-color: $primaryAColor;
  width: 9.5rem;
  padding: 1rem;
  display: inline-block;
  transition: 0.7s;
  text-align: center;
}

.headerTile:hover {
  background-color: $primaryCColor;
}

.headerRef {
  color: $fontHeaderColor;
  text-decoration: none;
  font-size: $fontSizeHeader;
}

// ---------------------------- Footer ----------------------------

footer {
  background-color: $primaryBColor;
  position: fixed;
  width: 100%;
  height: 1.5vh;
  left: 0;
  bottom: 0;
  padding: 0.3rem;
}

// ---------------------------- Page ----------------------------

.page {
  width: 90%;
  height: 92vh;
  margin: auto;
  background-color: $backgroundAColor;
  background-image: url("img/Merge.png");
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
}

.mainPage {
  background-image: none;
}

canvas {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.drawerArea {
  width: 50%;
  height: 70vh;
  margin: 1vh;
  vertical-align: top;
  display: inline-block;
}

.drawerInput {
  width: 30%;
  height: 70vh;
  margin-top: 1vh;
  display: inline-block;
  vertical-align: top;
}

// ---------------------------- H ----------------------------

h1 {
  padding: 1vh;
  margin: 0;
  font-size: $fontSizeHeader;
  color: $tertiaryCColor;
  text-align: left;
}

// ---------------------------- Forms ----------------------------

label {
  font-size: 1.3vh;
  padding: 1vh;
}

input {
  font-size: 1.3vh;
  margin: 0 1vh;
}

button {
  padding: 0.2vh 1vh;
  background-color: $primaryBColor;
  color: $fontHeaderColor;
  border: 1px solid $primaryAColor;
  font-size: 1.3vh;
}

button:hover {
  cursor: pointer;
  background-color: $secondaryCColor;
}

// ---------------------------- Flash ----------------------------

$colorFlashOk: #72A337;
$colorFlashBad: #F20915;

.flash {
  visibility: visible;
  width: 20vh;
  height: 1.6vh;
  margin: 1vh auto 1vh auto;
  padding: 1vh;
  border-radius: 6px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $fontHeaderColor;
  font-size: $fontSizeHeader;
}

.flashOk {
  background-color: $colorFlashOk;
}

.flashBad {
  background-color: $colorFlashBad;
}

.flashPending {
  background-color: $tertiaryAColor;
}

.hidden {
  visibility: hidden;
}
