$primaryAColor: #FFFFFF;
$secondaryAColor: #66A3D2;
$secondaryBColor: rgba(102, 163, 210, 0.3);
$tertiallyCColor: #E0E0E0;

$colorFlashOk: #72A337;
$colorFlashBad: #F20915;
$colorFlashPending: #FF7400;
$colorFlashWarning: #F9FF1A;
$colorFlashNotice: $secondaryAColor;

$fontColor: #000000;
$fontSize: 1.6vh;
$fontSizeHeader: 2vh;

html {
  font-size: $fontSize;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// ---------------------------- Header ----------------------------

header {
  background-color: $secondaryAColor;
  color: $fontColor;
  font-size: $fontSizeHeader;
  padding: 1rem;
  margin: 0;
  text-align: center;
}

.headerContainer {
  width: 100%;
  margin: auto;
}

.headerTile {
  width: 9.5rem;
  padding: 1rem;
  display: inline-block;
  transition: 0.7s;
  text-align: center;
}

.headerTile:hover {
  background-color: $primaryAColor;
}

.headerRef {
  color: $fontColor;
  text-decoration: none;
  font-size: $fontSizeHeader;
}

// ---------------------------- Footer ----------------------------

footer {
  background-color: $secondaryAColor;
  position: fixed;
  width: 100%;
  height: 1.5vh;
  left: 0;
  bottom: 0;
  padding: 0.3rem;
}

// ---------------------------- Page ----------------------------

.page {
  width: 95%;
  height: fit-content;
  margin: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 80vh;
}

section {
  margin-bottom: 4vh;
  padding-bottom: 3vh;
  height: fit-content;
  background-color: $primaryAColor;
}

.pageLogin {
  background-image: url("img/Merge.png");
}

canvas {
  width: 100%;
  height: 100%;
  border: none;
}

.drawerArea {
  width: 60%;
  height: 80vh;
  margin: 1vh;
  vertical-align: top;
  display: inline-block;
}

.drawerInput {
  width: 30%;
  height: 80vh;
  margin-top: 1vh;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.results {
  padding: 1vh;
  display: inline-block;
  border: 2px solid $fontColor;
  border-radius: 2vh;
  margin: 1vh;
  background-color: $primaryAColor;
}

.results:hover {
  background-color: $secondaryBColor;
}

.itemResults {
  font-size: 2.2vh;
}

.itemResults:hover {
  background-color: $primaryAColor;
  border-radius: 4px;
}

.cursorPointer {
  cursor: pointer;
}

.divLeft {
  text-align: left;
  margin: 4vh 0 4vh 0;
}

.block {
  vertical-align: middle;
  padding: 0;
  margin: 0;
  text-align: left;
}

.blockInfo {
  display: inline-block;
  vertical-align: inherit;
  height: 25vh;
  padding: 0 1vw 0 1vw;
}

.divModification {
  margin: 4vh 0 4vh 0;
}

.padding {
  margin: 4vh 0 4vh 0;
}

// ---------------------------- H ----------------------------

h1 {
  padding: 1vh;
  margin: 0;
  font-size: $fontSizeHeader;
  color: $fontColor;
  text-align: left;
}

h2 {
  padding: 1vh 0 0 0;
  margin: 1vh 0 0 0;
  font-size: $fontSizeHeader;
  color: $fontColor;
  text-align: center;
}

h3, h4 {
  padding: 1vh;
  margin: 1vh 0;
  font-size: $fontSizeHeader;
  color: $fontColor;
  text-align: left;
}

// ---------------------------- Forms ----------------------------

label {
  padding: 1vh;
}

input, select {
  margin: 0 0.5vh;
  font-size: 1.3vh;
  box-sizing: border-box;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(0, 0%, 80%);
  padding: 0.4vh 0.3vh;
  justify-content: end;
}

input:focus, select:focus, textarea:focus, button:focus {
  box-shadow: 0 0 10px #2684ff;
  outline-color: #2684ff;
}

.filter {
  width: 90%;
  margin: 0 auto;
}

button {
  margin: 0.5vh;
  background-color: $secondaryAColor;
  color: $fontColor;
  font-size: 1.3vh;
  box-sizing: border-box;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(0, 0%, 80%);
  padding: 0.3vh;
  justify-content: end;
}

.twoButtons {
  box-sizing: border-box;
  display: inline;
}

.twoButtons button {
  box-sizing: border-box;
  width: 39.2%;
}

button:hover {
  cursor: pointer;
  background-color: $primaryAColor;
}

.buttonMainPage {
  margin-top: 1vh;
}

/* Create button */
.create {
  background-color: $colorFlashOk;
}

/* Delete button */
.delete {
  background-color: $colorFlashBad;
}

/* Update button */
.update {
  background-color: $colorFlashPending;
}

.creatable {
  width: 7vw;
  display: inline-block;
  font-size: 1.3vh;
  box-sizing: border-box;
  margin: 0 0.5vh;
  padding: 0.3vh;
}

textarea {
  height: 16vh;
  font-size: 1.3vh;
  margin: 0 0.5vh;
  box-sizing: border-box;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(0, 0%, 80%);
  padding: 0.4vh 0.3vh;
  justify-content: end;
}

.area {
  width: 40%;
  height: 40vh;
}

.areaBad {
  width: 50vw;
  height: 35vh;
}

.main {
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.drawerInput label {
  margin-top: 1.5vh;
}

.drawerInput .buttons {
  text-align: center;
  margin-top: 2vh;
}

// ---------------------------- Table ----------------------------

.tableLarge {
  margin: 0;
  width: 100%;
  text-align: center;
}

table {
  margin: 0 auto;
  text-align: center;
}

thead tr {
  background-color: $secondaryAColor;
  color: $fontColor;
}

tbody tr {
  background-color: $tertiallyCColor;
}

tbody tr:hover {
  background-color: $secondaryBColor;
}

td, th {
  padding: 0.5vw 2vh;
}

.tdSequence {
  min-width: 10vw;
}

// ---------------------------- Flash ----------------------------

.flash {
  visibility: visible;
  width: fit-content;
  height: 1.6vh;
  margin: 1vh auto 1vh auto;
  padding: 1vh;
  border-radius: 6px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $fontColor;
  font-size: $fontSizeHeader;
}

.flashOk {
  background-color: $colorFlashOk;
}

.flashBad {
  background-color: $colorFlashBad;
}

.flashPending {
  background-color: $colorFlashPending;
}

.flashWarning {
  background-color: $colorFlashWarning;
}

.flashNotice {
  background-color: $colorFlashNotice;
}

.hidden {
  visibility: hidden;
}

// ---------------------------- Popup ----------------------------

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1vh 2vh;
  border: 2px solid $colorFlashBad;
  background-color: $primaryAColor;
  font-size: 3vh;
}

.popupButton {
  font-size: 3vh;
}

.popupYes {
  background-color: $colorFlashOk;
}

.popupNo {
  background-color: $tertiallyCColor;
}

.popupLarge {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1vh 2vh;
  width: 90%;
  height: 90%;
  border: 2px solid $colorFlashBad;
  background-color: $primaryAColor;
  font-size: 3vh;
  cursor: pointer;
  z-index: 99999;
}

#popupLargeSmiles {
  width: 100%;
  height: 100%;
}

.popupLargeEditor {
  cursor: default;
}

.canvasSmall {
  width: 12vw;
  height: 25vh;
  cursor: pointer;
}
